.competences-container-main {
    padding: 20px;
    height: 350px;
    display: flex;
    justify-content: space-around;
    width: 100%;

    .competences-column {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        width: 287px;
        height: 90%;

        h3 {
            font-size: 25px;
            color: #E76F51;
            margin-top: 0;
        }

        .card-container {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-around;
        }
    }

    .center {
        .card-container {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: flex-start;
        }
    }
}

@media (max-width: 1024px) {
    .competences-container-main {
        .competences-column {
            padding-left: 10px;
        }
    }
}

@media (max-width: 767.98px) {
    .competences-container-main {
        flex-direction: column;
        height: auto;

        .competences-column {
            padding-bottom: 20px;
        }
    }
}