.banner {
    height: 500px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .banner-over {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 48px;
    background-color: rgba(0, 0, 0, 0.6);
    }

}

@media (max-width: 767.98px) {
    .banner {
        height: 350px;
        .banner-over {
            font-size: 30px;
        }
    }
}